{% load static %}
<div class="slider-area slider-two carousel">
    <div class="preview-2">
        <div id="nivoslider" class="slides">
            <img src="{% static 'core/img/NOVAS/imgs2/20210526161008_IMG_6656.jpg' %}" alt="" title="#slider-1-caption1"/>
            <img src="{% static 'core/img/NOVAS/imgs2/20210526161032_IMG_6658.jpg' %}" alt="" title="#slider-1-caption2"/>
        </div>
        <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-content-wrapper">
                                <div class="text-content">
                                    <div class="text-container">
                                        <h1 class="title1">Museu do Cangaço<br></h1>
                                        <p class="sub-title d-none d-lg-block">
                                            O Museu do Cangaço, mantido pela Fundação Cultural Cabras de Lampião (FCCL),<br>
                                            foi criado em abril de 2000, instalado inicialmente no Sítio Passagem das Pedras,<br>
                                            com peças da coleção pessoal de um dos seus idealizadores, Anildomá Willans de Souza.</p>
                                        <div class="banner-readmore">
                                            <a class="button-default bg-brown" href="">História</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-content-wrapper">
                                <div class="text-content slide-2">
                                    <div class="text-container">
                                        <h1 class="title1" data-in->Education Needs<br>
                                            Complete Solution</h1>
                                        <p class="sub-title d-none d-lg-block"> There are many variations of
                                            passages of Lorem Ipsum available, but the majority have<br>
                                            suffered alteration in some form, by injected humour, or randomised
                                            words which<br>
                                            don't look even slightly believable.</p>
                                        <div class="banner-readmore">
                                            <a class="button-default bg-brown" href="#">View Courses</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>