<div class="contact-form-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h4 class="contact-title">informações para contato</h4>
                <div class="contact-text">
                    <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">{{ request.museum_info.phone }}</span>
                    </p>
                    <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span
                            class="c-text">{{ request.museum_info.email }}</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">{{ request.museum_info.address }}</span>
                    </p>
                </div>
                <h4 class="contact-title">redes sociais</h4>
                <div class="social-icons">
                    <a href="{{ request.museum_info.facebook }}" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="{{ request.museum_info.youtube }}" target="_blank"><i class="zmdi zmdi-youtube"></i></a>
                    <a href="{{ request.museum_info.instagram }}" target="_blank"><i
                            class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <h4 class="contact-title">envie sua mensagem</h4>
                <form id="contact-form" action="https://htmldemo.hasthemes.com/educat-preview/educat/mail.php"
                      method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="Nome">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" cols="30" rows="10" placeholder="Mensagem"></textarea>
                            <button type="submit" class="button-default">SUBMIT</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
</div>