<div class="newsletter-area mt-5 w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-12">
                <div class="newsletter-content">
                    <h3>Inscreva-se</h3>
                    <h2>Em nossa Newsletter</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="newsletter-form">
                    <form action="#" id="mc-form" class="mc-form footer-newsletter fix">
                        <div class="subscribe-form">
                            <label for="mc-email"></label><input id="mc-email" type="email" name="EMAIL"
                                                                 placeholder="Digite aqui o e-mail que você mais usa...">
                            <button id="mc-submit" type="submit">INSCREVER-SE</button>
                        </div>
                    </form>
                    <div class="mailchimp-alerts text-centre fix">
                        <div class="mailchimp-submitting"></div>
                        <div class="mailchimp-success"></div>
                        <div class="mailchimp-error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>