{% if is_paginated %}
    <div class="row">
        <div class="col-md-12">
            <div class="pagination-content number">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        {% if page <= page_obj.number|add:8 and page >= page_obj.number|add:-8 %}
                            <li {% if page == page_obj.number %}class="current"{% endif %}><a
                                    href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}