{% load static %}
<!-- jquery -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

<!-- popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- AJax Mail JS -->
<script src="{% static 'js/ajax-mail.js' %}"></script>

<!-- plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- StyleSwitch JS -->
<script src="{% static 'js/styleswitch.js' %}"></script>

<!-- main JS -->
<script src="{% static 'js/main.js' %}"></script>
