{% load static %}
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

<!-- Fontawsome CSS -->
<link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">

<!-- Metarial Iconic Font CSS -->
<link rel="stylesheet" href="{% static 'core/css/material-design-iconic-font.min.css' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/plugins.css' %}">

<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'core/style.css' %}">

<!-- Color CSS -->
<link rel="stylesheet" href="{% static 'core/css/color.css' %}">

<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">

<!-- Modernizr JS -->
<script src="{% static 'core/js/vendor/modernizr-2.8.3.min.js' %}"></script>